@import "tailwindcss";

@theme {
  --color-primary: #82a8e4;
  --color-secondary: #3e5879;
  --color-accent: #d8c4b6;
  --color-background: #f5efe7;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-secondary);
}

body {
  margin: 0;
  min-height: 100vh;
}
