@import "tailwindcss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f9fafb; /* gray-50 */
  color: #111827; /* gray-900 */
}

body {
  margin: 0;
  min-height: 100vh;
}
